
<h1>
    Add The Following Code Snippet inside your Header.liquide inside Sections
</h1>
<xmp>
    <h1>this extension is only supported for Debut Themes and Themes That are Inherited By Debut Theme</h1>
    <p style="display:none;" id="commerce-vat-tax-rate">{{shop.metafields.commerce_plugin.vat}}</p>
    <p>you need to add two more divs with classes in existing elements in Product.price.Snippet</p>    
</xmp>
        